@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
}

.flaticon-24-hours-support:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-alarm-clock:before { content: "\f102"; }
.flaticon-anchor:before { content: "\f103"; }
.flaticon-archives:before { content: "\f104"; }
.flaticon-arrow:before { content: "\f105"; }
.flaticon-arrow-1:before { content: "\f106"; }
.flaticon-arrow-2:before { content: "\f107"; }
.flaticon-arrow-in-the-target:before { content: "\f108"; }
.flaticon-arrows:before { content: "\f109"; }
.flaticon-arrows-1:before { content: "\f10a"; }
.flaticon-arrows-10:before { content: "\f10b"; }
.flaticon-arrows-2:before { content: "\f10c"; }
.flaticon-arrows-3:before { content: "\f10d"; }
.flaticon-arrows-4:before { content: "\f10e"; }
.flaticon-arrows-5:before { content: "\f10f"; }
.flaticon-arrows-6:before { content: "\f110"; }
.flaticon-arrows-7:before { content: "\f111"; }
.flaticon-arrows-8:before { content: "\f112"; }
.flaticon-arrows-9:before { content: "\f113"; }
.flaticon-automobile-with-wrench:before { content: "\f114"; }
.flaticon-back:before { content: "\f115"; }
.flaticon-badge:before { content: "\f116"; }
.flaticon-bars:before { content: "\f117"; }
.flaticon-bicycle:before { content: "\f118"; }
.flaticon-black:before { content: "\f119"; }
.flaticon-briefcase:before { content: "\f11a"; }
.flaticon-building:before { content: "\f11b"; }
.flaticon-buildings:before { content: "\f11c"; }
.flaticon-buildings-1:before { content: "\f11d"; }
.flaticon-bullseye:before { content: "\f11e"; }
.flaticon-business:before { content: "\f11f"; }
.flaticon-business-1:before { content: "\f120"; }
.flaticon-business-2:before { content: "\f121"; }
.flaticon-business-3:before { content: "\f122"; }
.flaticon-can:before { content: "\f123"; }
.flaticon-car:before { content: "\f124"; }
.flaticon-car-1:before { content: "\f125"; }
.flaticon-car-in-a-garage-silhouette:before { content: "\f126"; }
.flaticon-car-steering-wheel:before { content: "\f127"; }
.flaticon-car-wheel:before { content: "\f128"; }
.flaticon-cargo-truck:before { content: "\f129"; }
.flaticon-cellphone:before { content: "\f12a"; }
.flaticon-chat:before { content: "\f12b"; }
.flaticon-chat-1:before { content: "\f12c"; }
.flaticon-chat-2:before { content: "\f12d"; }
.flaticon-check:before { content: "\f12e"; }
.flaticon-check-1:before { content: "\f12f"; }
.flaticon-check-2:before { content: "\f130"; }
.flaticon-check-symbol:before { content: "\f131"; }
.flaticon-checked:before { content: "\f132"; }
.flaticon-checked-1:before { content: "\f133"; }
.flaticon-chrome:before { content: "\f134"; }
.flaticon-circle:before { content: "\f135"; }
.flaticon-circle-1:before { content: "\f136"; }
.flaticon-circle-2:before { content: "\f137"; }
.flaticon-clipboard:before { content: "\f138"; }
.flaticon-clipboard-1:before { content: "\f139"; }
.flaticon-clipboard-icon:before { content: "\f13a"; }
.flaticon-clipboard-variant-with-lists-and-checks:before { content: "\f13b"; }
.flaticon-clock:before { content: "\f13c"; }
.flaticon-clock-1:before { content: "\f13d"; }
.flaticon-clock-2:before { content: "\f13e"; }
.flaticon-clock-3:before { content: "\f13f"; }
.flaticon-clock-4:before { content: "\f140"; }
.flaticon-clock-5:before { content: "\f141"; }
.flaticon-close:before { content: "\f142"; }
.flaticon-close-1:before { content: "\f143"; }
.flaticon-close-2:before { content: "\f144"; }
.flaticon-cloud:before { content: "\f145"; }
.flaticon-cogwheel:before { content: "\f146"; }
.flaticon-cogwheel-1:before { content: "\f147"; }
.flaticon-cogwheel-2:before { content: "\f148"; }
.flaticon-cogwheel-3:before { content: "\f149"; }
.flaticon-cogwheel-4:before { content: "\f14a"; }
.flaticon-commerce:before { content: "\f14b"; }
.flaticon-computer-screen:before { content: "\f14c"; }
.flaticon-construction:before { content: "\f14d"; }
.flaticon-contact:before { content: "\f14e"; }
.flaticon-cross:before { content: "\f14f"; }
.flaticon-cross-1:before { content: "\f150"; }
.flaticon-cross-2:before { content: "\f151"; }
.flaticon-cup:before { content: "\f152"; }
.flaticon-cup-1:before { content: "\f153"; }
.flaticon-cursor:before { content: "\f154"; }
.flaticon-cursor-1:before { content: "\f155"; }
.flaticon-damage:before { content: "\f156"; }
.flaticon-dark-eye:before { content: "\f157"; }
.flaticon-delivery-truck:before { content: "\f158"; }
.flaticon-diamond:before { content: "\f159"; }
.flaticon-diamond-1:before { content: "\f15a"; }
.flaticon-diamond-2:before { content: "\f15b"; }
.flaticon-diamond-3:before { content: "\f15c"; }
.flaticon-e-mail-envelope:before { content: "\f15d"; }
.flaticon-earth-globe:before { content: "\f15e"; }
.flaticon-email-envelope-outline-shape-with-rounded-corners:before { content: "\f15f"; }
.flaticon-emoticon-square-smiling-face-with-closed-eyes:before { content: "\f160"; }
.flaticon-engine:before { content: "\f161"; }
.flaticon-envelope:before { content: "\f162"; }
.flaticon-equalizer:before { content: "\f163"; }
.flaticon-eye:before { content: "\f164"; }
.flaticon-eye-1:before { content: "\f165"; }
.flaticon-eye-close-up:before { content: "\f166"; }
.flaticon-factory-tower-with-biohazard-smoke:before { content: "\f167"; }
.flaticon-factory-towers-spreading-smoke:before { content: "\f168"; }
.flaticon-favorite:before { content: "\f169"; }
.flaticon-favorite-1:before { content: "\f16a"; }
.flaticon-folder:before { content: "\f16b"; }
.flaticon-folder-1:before { content: "\f16c"; }
.flaticon-food:before { content: "\f16d"; }
.flaticon-front-of-bus:before { content: "\f16e"; }
.flaticon-frontal-taxi-cab:before { content: "\f16f"; }
.flaticon-game-console-steering-wheel:before { content: "\f170"; }
.flaticon-gas-level:before { content: "\f171"; }
.flaticon-hands:before { content: "\f172"; }
.flaticon-headphones:before { content: "\f173"; }
.flaticon-hot-drink:before { content: "\f174"; }
.flaticon-interface:before { content: "\f175"; }
.flaticon-interface-1:before { content: "\f176"; }
.flaticon-interface-2:before { content: "\f177"; }
.flaticon-interface-3:before { content: "\f178"; }
.flaticon-interface-4:before { content: "\f179"; }
.flaticon-letter:before { content: "\f17a"; }
.flaticon-letter-1:before { content: "\f17b"; }
.flaticon-levels:before { content: "\f17c"; }
.flaticon-light-bulb:before { content: "\f17d"; }
.flaticon-light-bulb-1:before { content: "\f17e"; }
.flaticon-line:before { content: "\f17f"; }
.flaticon-line-1:before { content: "\f180"; }
.flaticon-line-2:before { content: "\f181"; }
.flaticon-line-3:before { content: "\f182"; }
.flaticon-location:before { content: "\f183"; }
.flaticon-location-1:before { content: "\f184"; }
.flaticon-location-pin:before { content: "\f185"; }
.flaticon-magnifier-tool:before { content: "\f186"; }
.flaticon-magnifying-glass:before { content: "\f187"; }
.flaticon-mail:before { content: "\f188"; }
.flaticon-mail-1:before { content: "\f189"; }
.flaticon-map-marker:before { content: "\f18a"; }
.flaticon-map-marker-1:before { content: "\f18b"; }
.flaticon-map-marker-point:before { content: "\f18c"; }
.flaticon-mark:before { content: "\f18d"; }
.flaticon-mark-1:before { content: "\f18e"; }
.flaticon-mechanic-tools:before { content: "\f18f"; }
.flaticon-mechanic-user:before { content: "\f190"; }
.flaticon-mechanical-engineer:before { content: "\f191"; }
.flaticon-medal:before { content: "\f192"; }
.flaticon-medal-1:before { content: "\f193"; }
.flaticon-medical-notes-symbol-of-a-list-paper-on-a-clipboard:before { content: "\f194"; }
.flaticon-megaphone:before { content: "\f195"; }
.flaticon-menu:before { content: "\f196"; }
.flaticon-menu-1:before { content: "\f197"; }
.flaticon-menu-2:before { content: "\f198"; }
.flaticon-money:before { content: "\f199"; }
.flaticon-money-1:before { content: "\f19a"; }
.flaticon-money-2:before { content: "\f19b"; }
.flaticon-money-3:before { content: "\f19c"; }
.flaticon-motor:before { content: "\f19d"; }
.flaticon-motorcycle:before { content: "\f19e"; }
.flaticon-multimedia:before { content: "\f19f"; }
.flaticon-multimedia-1:before { content: "\f1a0"; }
.flaticon-multimedia-2:before { content: "\f1a1"; }
.flaticon-multimedia-3:before { content: "\f1a2"; }
.flaticon-multimedia-4:before { content: "\f1a3"; }
.flaticon-multimedia-5:before { content: "\f1a4"; }
.flaticon-multimedia-6:before { content: "\f1a5"; }
.flaticon-navigation:before { content: "\f1a6"; }
.flaticon-note:before { content: "\f1a7"; }
.flaticon-note-1:before { content: "\f1a8"; }
.flaticon-note-2:before { content: "\f1a9"; }
.flaticon-oil:before { content: "\f1aa"; }
.flaticon-oil-1:before { content: "\f1ab"; }
.flaticon-oil-2:before { content: "\f1ac"; }
.flaticon-oil-drum:before { content: "\f1ad"; }
.flaticon-oil-filter:before { content: "\f1ae"; }
.flaticon-people:before { content: "\f1af"; }
.flaticon-people-1:before { content: "\f1b0"; }
.flaticon-pie-chart:before { content: "\f1b1"; }
.flaticon-pipe-valve:before { content: "\f1b2"; }
.flaticon-placeholder:before { content: "\f1b3"; }
.flaticon-play-button:before { content: "\f1b4"; }
.flaticon-plug:before { content: "\f1b5"; }
.flaticon-puzzle:before { content: "\f1b6"; }
.flaticon-ribbon:before { content: "\f1b7"; }
.flaticon-rim:before { content: "\f1b8"; }
.flaticon-rim-1:before { content: "\f1b9"; }
.flaticon-rim-2:before { content: "\f1ba"; }
.flaticon-rocket-hitting-target:before { content: "\f1bb"; }
.flaticon-round:before { content: "\f1bc"; }
.flaticon-search:before { content: "\f1bd"; }
.flaticon-search-1:before { content: "\f1be"; }
.flaticon-search-2:before { content: "\f1bf"; }
.flaticon-search-3:before { content: "\f1c0"; }
.flaticon-search-4:before { content: "\f1c1"; }
.flaticon-setting-tool:before { content: "\f1c2"; }
.flaticon-settings:before { content: "\f1c3"; }
.flaticon-shape:before { content: "\f1c4"; }
.flaticon-shape-1:before { content: "\f1c5"; }
.flaticon-shapes:before { content: "\f1c6"; }
.flaticon-shapes-1:before { content: "\f1c7"; }
.flaticon-shapes-2:before { content: "\f1c8"; }
.flaticon-share:before { content: "\f1c9"; }
.flaticon-sharing-big-symbol:before { content: "\f1ca"; }
.flaticon-shield:before { content: "\f1cb"; }
.flaticon-shield-1:before { content: "\f1cc"; }
.flaticon-show:before { content: "\f1cd"; }
.flaticon-sign:before { content: "\f1ce"; }
.flaticon-signs:before { content: "\f1cf"; }
.flaticon-small-diamond:before { content: "\f1d0"; }
.flaticon-smog:before { content: "\f1d1"; }
.flaticon-smog-factory-building-contamination:before { content: "\f1d2"; }
.flaticon-smoking-sign:before { content: "\f1d3"; }
.flaticon-social:before { content: "\f1d4"; }
.flaticon-social-1:before { content: "\f1d5"; }
.flaticon-spa-waters:before { content: "\f1d6"; }
.flaticon-specialist-user:before { content: "\f1d7"; }
.flaticon-speech-bubble:before { content: "\f1d8"; }
.flaticon-sports-car:before { content: "\f1d9"; }
.flaticon-spy:before { content: "\f1da"; }
.flaticon-steering-wheel:before { content: "\f1db"; }
.flaticon-steering-wheel-1:before { content: "\f1dc"; }
.flaticon-steering-wheel-2:before { content: "\f1dd"; }
.flaticon-support:before { content: "\f1de"; }
.flaticon-support-1:before { content: "\f1df"; }
.flaticon-symbol:before { content: "\f1e0"; }
.flaticon-target:before { content: "\f1e1"; }
.flaticon-target-1:before { content: "\f1e2"; }
.flaticon-technician-with-helmet:before { content: "\f1e3"; }
.flaticon-technology:before { content: "\f1e4"; }
.flaticon-technology-1:before { content: "\f1e5"; }
.flaticon-technology-2:before { content: "\f1e6"; }
.flaticon-technology-3:before { content: "\f1e7"; }
.flaticon-technology-4:before { content: "\f1e8"; }
.flaticon-technology-5:before { content: "\f1e9"; }
.flaticon-technology-6:before { content: "\f1ea"; }
.flaticon-technology-7:before { content: "\f1eb"; }
.flaticon-technology-8:before { content: "\f1ec"; }
.flaticon-telephone:before { content: "\f1ed"; }
.flaticon-telephone-1:before { content: "\f1ee"; }
.flaticon-time:before { content: "\f1ef"; }
.flaticon-tool:before { content: "\f1f0"; }
.flaticon-tool-1:before { content: "\f1f1"; }
.flaticon-tool-2:before { content: "\f1f2"; }
.flaticon-tool-3:before { content: "\f1f3"; }
.flaticon-transport:before { content: "\f1f4"; }
.flaticon-transport-1:before { content: "\f1f5"; }
.flaticon-transport-2:before { content: "\f1f6"; }
.flaticon-transport-3:before { content: "\f1f7"; }
.flaticon-transport-4:before { content: "\f1f8"; }
.flaticon-truck:before { content: "\f1f9"; }
.flaticon-tyre-expert:before { content: "\f1fa"; }
.flaticon-valve:before { content: "\f1fb"; }
.flaticon-vehicle-wheel:before { content: "\f1fc"; }
.flaticon-video-player:before { content: "\f1fd"; }
.flaticon-volkswagen-car-side-view:before { content: "\f1fe"; }
.flaticon-wrench-and-screwdriver-crossed:before { content: "\f1ff"; }