/* Francisco - Car Repair HTML Template */
@media only screen and (max-width: 1700px){
	.testimonial-section-one .right-floated-image img{
		max-width:450px;	
	}
	
	.what-we-do .isolated-image img{
		max-width:800px;	
	}
}

@media only screen and (max-width: 1400px){
	.testimonial-section-one .right-floated-image img{
		max-width:350px;	
	}
	
	.what-we-do .isolated-image img{
		max-width:600px;	
	}
	
}


@media only screen and (max-width: 1200px){
	.cart-outer .table-outer{
		overflow-x:	auto;
	}
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	.testimonial-section-one .right-floated-image img{
		max-width:200px;	
	}
	
	.what-we-do .isolated-image{
		max-width:400px;	
	}
}

@media only screen and (max-width: 1140px){
	
	.main-header.header-style-three .header-upper .upper-right .main-menu{
		text-align:left;
	}
	
	.main-header .header-upper .logo-outer{
		margin-bottom:30px;	
	}
	
	.main-header.header-style-three .header-upper .logo-outer{
		margin-bottom:0px;	
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:10px 25px;
		float:none;
		text-align:left;
		width:260px;
	}
	
	.main-header .info-box:last-child{
		text-align:center;	
	}
	
	.main-header .header-upper .info-box::after{
		display:none;	
	}
	
	.testimonial-section-one .right-floated-image{
		display:none !important;
	}
	
	.content-side{
		padding-right:15px !important;	
	}
	
	.three-column-boxed .boxed-column .inner-box{
		padding:40px 20px;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	
	/*.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}*/
	
	.main-menu .navigation > li{
		margin-right:20px;	
	}
	
	.header-style-two .main-menu .navigation > li > a{
		padding-right:0px;
	}
	
	.header-style-three .main-menu .navigation > li > a{
		padding-right:10px;
	}
	
	.header-style-two .main-menu .navigation > li ul > li > ul{
		left:auto !important;
		right:100% !important;	
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		padding-right:15px;
	}
	
	.sticky-header{
		display:none;	
	}
	
	.main-footer .links-widget{
		padding-left:0px;	
	}
	
	.services-one .tabs-outer{
		position:relative;
		height:auto;
		width:100%;
		margin:0px;
		padding:0px;
		border:none;
		background:none;
		text-align:center;	
	}
	
	.services-one .tabs-outer .circular-layer{
		display:none;
	}
	
	.services-one .tabs-outer .service-tabs{
		position:relative;
		width:auto;
		height:auto;
		margin:0px;
		left:0;
		top:0;
	}
	
	.services-one .tabs-outer .service-tabs .tab-btn,
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(1),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(2),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(3),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(4),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(5),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(6),
	.services-one .tabs-outer .service-tabs .tab-btn:nth-child(7){
		position:relative !important;
		display:inline-block;
		margin:0px 10px 20px !important;
		left:0px !important;
		bottom:0px !important;
		right:0px !important;
		top:0px !important;	
	}
	
	.services-one .tabs-outer .service-tabs .tabs-content,
	.services-one .tabs-outer .service-tabs .tab{
		position:relative !important;
		left:0px;
		bottom:0px;
		width:auto;
		height:auto;	
	}
	
	.services-one .tabs-outer .service-tabs .tab .content-box{
		position:relative;
		width:100%;
		height:auto;
		border-radius:10px;
		padding:50px 30px;	
	}
	
	.what-we-do .isolated-image{
		position:relative;	
	}
	
	.page-title .bread-crumb{
		text-align:left;	
	}
}

@media only screen and (max-width: 767px){
	
	.header-style-three{
		position:relative;	
	}
	
	.header-style-three .header-top{
		background:#222222;	
	}
	
	.header-style-three .outer-box{
		padding:0px 0px;	
	}
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header.header-style-two .nav-outer{
		padding-right:15px;	
	}
	
	.main-header .nav-outer .social-links{
		left:0px;
		right:auto;
		z-index:20;	
	}
	
	.header-style-three .nav-outer{
		padding-right:0px;	
	}
	
	.header-style-three .nav-outer .cart-btn{
		left:0px;
		top:8px;
		margin:0px;
		height:40px;
		line-height:38px;
		z-index:20;	
		text-align:center;
		color:#f44122;
		border:1px solid #f44122;
		border-radius:3px;
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li {
		display: inline-block;
		float: none;
	}

	.header-upper .logo-outer  {
		display: block;
		width: 100%;
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:10px;
		max-width:none;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		margin:0 auto 15px;	
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #f44122;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#f44122;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#f44122;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#f44122;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#f44122;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#f44122;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#f44122;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-slider,
	.page-title{
		margin-top:0px !important;	
	}
	
	.main-slider .tp-caption{
		display:none !important;	
	}
	
	.sortable-masonry .masonry-item{
		width:100%;	
	}
	
	.error-section .extra-big{
		font-size:42px;
		line-height:44px;
		margin-bottom:15px;	
	}
	
	.error-section .bigger-text{
		font-size:24px;
		margin-bottom:20px;
		line-height:1.4em;
	}
	
	.error-section .text-lower strong{
		display:block;	
	}
	
	.welcome-section .image-column{
		padding-right:15px;	
	}
	
	.testimonials-section .owl-controls{
		display:none;	
	}
	
	.map-section .outer-container .info-container{
		padding:30px 0px 15px 20px;	
	}
	
	.page-title{
		padding:50px 0px;	
	}
	
	.page-title h1,
	.sec-title h2{
		font-size:24px;	
	}
	
	.news-item .image-column{
		position:relative;
		margin-bottom:20px;	
	}
	
	.main-header .header-lower .bg-layer{
		width:100%;	
	}
	
	.contact-section .column .inner-box{
		padding-top:0px;
	}
	
	.why-us-column .inner-box .icon-box,
	.why-us-column .inner-box .count,
	.style-two .why-us-column .inner-box .count{
		position:relative;
		text-align:center;
		display:block;
		margin:0 auto;
		left:0px;
		right:0px;
		top:0px;
		bottom:0px;
		line-height:1.2em;
	}
	
	.services-two .outer-box .vertical-bar{
		display:none;	
	}
	
	.services-two .left-column,
	.services-two .right-column{
		width:100%;
		padding:0px;
		margin:0px;
		text-align:center;	
	}
	
	.services-two .left-column .service-block,
	.services-two .right-column .service-block{
		text-align:center;	
	}
	
	.services-two .left-column .service-block .inner-box,
	.services-two .right-column .service-block .inner-box,
	.why-us-column .inner-box{
		padding:0px;
		text-align:center;	
	}
	
	.services-two .left-column .service-block .inner-box .icon-box,
	.services-two .right-column .service-block .inner-box .icon-box{
		position:relative;
		margin:0 auto 30px;
	}
	
	.why-us-column .inner-box,
	.services-three .service-block .inner-box{
		padding:0px;
		text-align:center;	
	}
	
	.style-three .why-us-column .inner-box{
		padding-left:0px;	
	}
	
	.style-three .why-us-column .inner-box .icon-box,
	.services-three .service-block .inner-box .icon-box{
		position:relative;
		margin:0px auto 30px;	
	}
	
	.services-four .service-block .inner-box{
		text-align:center;	
	}
	
	.services-four .service-block .inner-box h3{
		padding-left:0px;	
	}
	
	.services-four .service-block .inner-box .icon-box{
		position:relative;
		left:0px;
		top:0px;
		margin:0 auto 20px;	
	}
	
	.product-details .info-column{
		padding-left:15px;	
	}
	
}

@media only screen and (max-width: 599px){
	

	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.sidebar-page-container .author-box .inner{
		padding-left:0px;	
	}
	
	.sidebar-page-container .author-box .image{
		position:relative;
		margin-bottom:20px;	
	}
	
	.sidebar-page-container .comments-area .comment,
	.sidebar-page-container .comments-area .reply-comment{
		padding-left:0px;
		padding-right:0px;
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		top:0px;
		left:0px;
		margin-bottom:20px !important;	
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-info .comment-time{
		float:left !important;	
	}
	
	.sidebar-page-container .comments-area .reply-btn{
		position:relative !important;
		top:0px !important;
		right:0px;	
	}
	
	.sidebar-page-container .content-side{
		padding-right:15px !important;	
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
	.main-footer .newsletter-style-one .fields-outer .form-group{
		display:block;
		width:100%;
		margin-bottom:15px;
		padding:0px;	
	}
	
	.main-footer .newsletter-style-one button{
		display:block;
		width:100%;	
	}
	
	.prod-tabs .tab-btns .tab-btn{
		display:block;
		border:1px solid #d0d0d0;
		margin-bottom:15px;
		text-align:center;	
	}
	
	.prod-tabs .reviews-container .review-box{
		padding-left:0px;	
	}
	
	.prod-tabs .reviews-container .rev-thumb{
		position:relative;
		margin-bottom:20px;
	}
	
	.prod-tabs .tabs-container .tab{
		padding:20px 15px;	
	}
	
	.cart-section .apply-coupon .form-group{
		padding-right:0px;	
	}
	
	.cart-section .apply-coupon .form-group button{
		position:relative;
		display:block;
		width:100%;
		margin-top:10px;	
	}
	
	.cart-section .totals-table .col,
	.cart-section .totals-table .col.bold-text{
		display:block;
		width:100%;	
	}
	
	.default-blog-post .post-info .author-info,
	.default-blog-post .post-info .post-meta{
		width:100%;	
	}
	
	.default-blog-post .post-info .post-meta li{
		padding-left:0px;
		margin-right:20px;	
	}
	
	.contact-section .contact-info li{
		width:100%;	
	}
}

@media only screen and (max-width: 499px) {
	
	.main-header .header-upper .upper-column.info-box {	
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
}

@media only screen and (max-width: 425px){
	
	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}
}