<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
<meta charset="utf-8">
<title>MULTI - Ponto e Acesso</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/revolution-slider.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<meta name="description" content="A MULTI Ponto e Acesso é uma empresa especializada no controle de ponto e acesso. Com produtos como Relógios de ponto, catracas e sistemas para controle de acesso para empresas e propriedades particulares em Montes Claros e região. Atendemos várias cidades como Montes Claros, Janaúba, Bocaiúva, Curvelo, Espinosa, Brasília de Minas, São Francisco, Januária, Salinas, Taiobeiras, Corinto, Almenara, Monte Azul, Vitória da Conquista e Sul da Bahia." />
<meta name="keywords" content="relógio de ponto preço, relógio ponto, relógio cartográfico,  relógio de ponto henry, relógio de ponto cartográfico, relógio de ponto, cartão de ponto eletrônico, bater ponto, máquina de ponto, relógio de ponto digital, relógio de ponto barato" />
<meta name="author" content="Live Labs Soluções - www.livelabs.com.br" />
<meta name="robots" content="all"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-one">
        
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	<div class="row">
                    	<div class="pull-left logo-outer col-md-4 col-sm-5 col-xs-12">
                        	<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Multiponto e Acesso" title="Multiponto e Acesso"></a></div>
                        </div>
                    
                        <div class="col-md-3 col-sm-3 col-md-offset-2 col-xs-6">
                            <strong>Suporte Técnico</strong><br>
                            <span>{{ configuration.help_desk|default:"" }}</span>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <strong>Horário de funcionamento</strong><br>
                            <span>{{ configuration.horary|default:"" }}</span>
                        </div>
                    </div>
                    <!--

                        <div class="pull-right upper-right clearfix">
                        
                        <div class="upper-column info-box col-sm-6">
                            <div class="icon-box"><span class="flaticon-technology-8"></span></div>
                            <ul>
                                <li><strong>Suporte Técnico</strong></li>
                                <li>{{ configuration.help_desk|default:"" }}</li>
                            </ul>
                        </div>
                        
                        <div class="upper-column info-box col-sm-6">
                            <div class="icon-box"><span class="flaticon-alarm-clock"></span></div>
                            <ul>
                                <li><strong>Horário de funcionamento</strong></li>
                                <li>{{ configuration.horary|default:"" }}</li>
                            </ul>
                        </div>
                        
                    </div>
                     -->
                </div>
            </div>
        </div>

        {% block menu %}
            
        {% endblock menu %}
    
    </header>
    <!--End Main Header -->

    {% block main_content %}
        
    {% endblock main_content %} 
    
    {% block scripts %}
    
    {% endblock scripts %}
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">        
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<h2>Localização</h2>
                                    <div class="widget-content">
                                        <a target="_blank" href="https://www.google.com.br/maps/place/{{configuration.address|safe}}">{{ configuration.address }}</a>
                                        <!--<div class="social-links">
                                        	<a href="https://www.facebook.com/multipontoeacesso"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget links-widget">
                                	<h2>Oferecemos</h2>
                                    <div class="widget-content">
                                    	<ul class="list">
                                        	<li><a>Controle de Ponto</a></li>
                                            <li><a>Controle de Acesso</a></li>
                                            <li><a>Software</a></li>
                                            <li><a>Suporte</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget work-hours">
                                	<h2>HORÁRIO DE FUNCIONAMENTO</h2>
                                    <div class="widget-content">
                                    	<p>{{ configuration.horary|safe|default:"" }}</p>
                                        <br>
                                        <h4>Telefones:</h4>
                                        <p>{{ configuration.contact|safe|default:"" }}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget contact-widget">
                                	<h2>Contate-nos</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="{% url 'contato' %}">Envie uma mensagem</a></li>
                                        </ul>
                                    </div>
                                    <br>
                                    <div class="social-links">
                                        {% if configuration.facebook %}
                                            <a href="{{configuration.facebook}}"><span class="fa fa-facebook"></span></a>
                                        {% endif %}
                                        {% if configuration.instagram %}
                                            <a href="{{configuration.instagram}}"><span class="fa fa-instagram"></span></a>
                                        {% endif %}
                                        {% if configuration.google_plus %}
                                            <a href="{{configuration.google_plus}}"><span class="fa fa-google-plus"></span></a>
                                        {% endif %}
                                    </div>
                                    <!--<div class="widget-content">
                                        <div class="newsletter-form">
                                            <form method="post" action="#">
                                                <div class="form-group">
                                                    <input type="text" name="name" value="" placeholder="Seu nome" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="E-mail *" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Mensagem *" required></textarea>
                                                </div>
                                                <button type="submit" class="theme-btn btn-style-two">Enviar</button>
                                            </form>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
         
             <!--Footer Bottom-->
             <div class="footer-bottom">
                <div class="text">&copy; MULTI Ponto e Acesso 2019. Todos os direitos reservados&ensp;</div>
            </div>
        
        </div> 
    </footer>
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

{% for message in messages %}
    <script type="text/javascript">
        swal({
        text: "{{message|safe}}",
        icon: "{{message.tags|safe}}"
        });
    </script>
{% endfor %}
<script src="{% static 'js/jquery.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/revolution.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>
