{% extends "base.html" %}
{% load static %}

{% block menu %}       
    <!--Header-Lower-->
    <div class="header-lower">        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li class="current"><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
                
                <!--Social Links-->
                 <div class="social-links">
                    {% if configuration.facebook %}
                        <a href="{{configuration.facebook}}"><span class="fa fa-facebook"></span></a>
                    {% endif %}
                    {% if configuration.instagram %}
                        <a href="{{configuration.instagram}}"><span class="fa fa-instagram"></span></a>
                    {% endif %}
                    {% if configuration.google_plus %}
                        <a href="{{configuration.google_plus}}"><span class="fa fa-google-plus"></span></a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="#" class="img-responsive"><img src="{% static 'images/logo-small.png' %}" alt="multiponto e acesso" title="Multiponto e Acesso"></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li class="current"><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div><!--End Sticky Header-->
{% endblock menu %}

{% block main_content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/page-title-1.jpg' %});">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1>Contato</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Contato</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!--Contact Section-->
    <section class="contact-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="default-title"><h3>ESCREVA-NOS</h3></div>
                    
                    <div class="contact-form default-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="field-label">Nome</div>
                                <input type="text" name="name" value="" placeholder="Informe seu nome" required>
                            </div>

                            <div class="form-group">
                                <div class="field-label">E-mail</div>
                                <input type="email" name="email" value="" placeholder="Informe seu email" required>
                            </div>

                            <div class="form-group">
                                <div class="field-label">Assunto</div>
                                <input type="text" name="subject" value="" placeholder="Informe o assunto" required>
                            </div>

                            <div class="form-group">
                                <div class="field-label">Mensagem</div>
                                <textarea name="message" placeholder="Informe a mensagem" required></textarea>
                            </div>

                            <button type="submit" class="theme-btn btn-style-two">Enviar mensagem</button>

                        </form>

                    </div>
                </div>

                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="default-title"><h3>Contate-nos</h3></div>
                    
                    <div class="inner-box">
                        <div class="contact-info">
                            <ul class="clearfix">
                                <li><div class="inner-box"><div class="icon-box"><span class="flaticon-navigation"></span></div><strong>ONDE ESTAMOS</strong> {{ configuration.address|default:""}}</div></li>
                                <li><div class="inner-box"><div class="icon-box"><span class="flaticon-technology-8"></span></div><strong>LIGUE</strong> {{ configuration.contact|safe|default:""}}</div></li>
                                <li><div class="inner-box"><div class="icon-box"><span class="flaticon-envelope"></span></div><strong>NOSSO E-MAIL</strong> {{ configuration.email|default:""}}</div></li>
                                <li><div class="inner-box"><div class="icon-box"><span class="flaticon-clock-5"></span></div><strong>HORÁRIO DE FUNCIONAMENTO</strong> {{ configuration.horary|default:""}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock main_content %}