{% extends 'base.html' %}
{% load  static %}
{% load humanize %}
{% block main_content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/page-title-1.jpg' %});">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1>Detalhes do produto</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="{% url 'produtos' %}">Produtos</a></li>
                        <li class="active">{{ produto.nome }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--Shop Single-->
    <div class="shop-single">
        <div class="auto-container">
            
            <!--Product Details Section-->
            <section class="product-details">
                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">
                        <div class="image-column col-md-3 col-sm-3 col-xs-12">
                            <figure class="image-box"><img src="{{ produto.imagem.url }}" alt=""></figure>
                        </div>
                        <div class="info-column col-md-9 col-sm-9 col-xs-12">
                            <div class="details-header">
                                <h4>{{ produto.nome }}</h4>
                                <b>{{ produto.categoria }}</b>
                                {% if produto.preco %}
                                    <br><b>R$ {{ produto.preco|intcomma }}</b>
                                {% endif %}
                            </div>
                            
                            <div class="text">
                                {{ produto.descricao_curta|safe|linebreaks }}
                            </div>                            
                        </div>
                    </div>
                </div><!--Basic Details-->
                
                
                <!--Product Info Tabs-->
                <div class="product-info-tabs">
                    
                    <!--Product Tabs-->
                    <div class="prod-tabs" id="product-tabs">
                    
                        <!--Tab Btns-->
                        <div class="tab-btns clearfix">
                            {% if produto.descricao_completa %}
                                <a href="#prod-description" class="tab-btn active-btn">Descrição Completa</a>
                            {% endif %}
                            {% if produto.informacao_adicional %}
                                <a href="#add-information" class="tab-btn">Informações Adicionais</a>
                            {% endif %}
                        </div>
                        
                        <!--Tabs Container-->
                        <div class="tabs-container">
                            

                            {% if produto.descricao_completa %}
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-description">
                                    <!-- <h3>Descrição Completa</h3> -->
                                    <div class="content">
                                        {{ produto.descricao_completa|safe|linebreaks }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if produto.informacao_adicional %}
                            
                                <!--Tab-->
                                <div class="tab" id="add-information">
                                    <h3>Informações Adicionais</h3>
                                    <div class="content">
                                        {{ produto.informacao_adicional|safe|linebreaks }}
                                    </div>
                                </div>
                                
                            {% endif %}
                            
                        </div>
                    </div>
                    
                </div>
                
                {% if produto.produtos_relacionados != None %}
                    {% for produto_relacionado in produtos_relacionados %}
                        <!--Related Products-->
                        <div class="related-products">
                            <div class="default-title centered"><h3>Produtos Relacionados</h3></div>
                            
                            <div class="row clearfix">
                                
                                <!--Shop Item-->
                                <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/resource/products/1.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                        <div class="lower-content">
                                            <h3><a href="shop-single.html">Shock Absorber</a></h3>
                                            <div class="price">$ 845.00</div>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/resource/products/2.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                        <div class="lower-content">
                                            <h3><a href="shop-single.html">Gear Box</a></h3>
                                            <div class="price">$ 625.00</div>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/resource/products/3.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                        <div class="lower-content">
                                            <h3><a href="shop-single.html">Exhaust Engine</a></h3>
                                            <div class="price">$ 1015.00</div>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/resource/products/4.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                        <div class="lower-content">
                                            <h3><a href="shop-single.html">Alloy Wheel</a></h3>
                                            <div class="price">$ 442.00</div>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!--Related Products-->
                    <div class="related-products">
                        <div class="default-title centered"><h3>Outros Produtos</h3></div>
                        
                        <div class="row clearfix">
                            
                            <!--Shop Item-->
                            <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/products/1.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Shock Absorber</a></h3>
                                        <div class="price">$ 845.00</div>
                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/products/2.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Gear Box</a></h3>
                                        <div class="price">$ 625.00</div>
                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/products/3.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Exhaust Engine</a></h3>
                                        <div class="price">$ 1015.00</div>
                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/products/4.jpg" alt=""><div class="overlay-box"><a href="shop-single.html" class="theme-btn"><span class="fa fa-shopping-cart"></span> ADD TO CART</a></div></figure>
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Alloy Wheel</a></h3>
                                        <div class="price">$ 442.00</div>
                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endif %}
                
            </section>
            
        </div>
    </div>
{% endblock main_content %}