<div style="height: 100%%; width: 100%%; padding-top: 90px;  padding-bottom: 90px; background-color: #4586b1;background-size: 100%%;">
    <div style="max-width: 800px; margin: 0 auto;font-family: 'Open Sans',sans-serif; display: block; text-align: left; background-color: #fff; padding: 20px 20px 40px; border-bottom: 10px solid #4586b1; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; max-width: 550px; margin-bottom: 20px; padding-bottom: 25px;">
        <div style="margin-bottom: 20px; text-align: center;">
            <img src="http://multipontoeacesso.com.br/static/images/logo.png" style="max-width: 200px;"></img>
            <h4 style="font-weight: 400!important; color: #000; -webkit-font-smoothing: antialiased; font-size: 18px; line-height: 30px; text-transform: uppercase;">Contato</h4>
        </div>
        <div>
            <p><b>Nome</b>: {{ name }}</p>
            <p><b>Assunto</b>: {{ subject }}</p>
            <p><b>Mensagem</b>: {{ message }}</p>
            <p><b>Email</b>: {{ email }}</p>
            
            <p><small style="opacity: .7; display: block; font-weight: 400; line-height: 1; color: #777;">Equipe Multiponto e Acesso.</small></p>
        </div>
    </div>
</div>