{% extends "base.html" %}
{% load static %}

{% block menu %}       
    <!--Header-Lower-->
    <div class="header-lower">
        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="{% url 'home' %}">Home</a>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
                
                <!--Social Links-->
                <div class="social-links">
                    {% if configuration.facebook %}
                        <a href="{{configuration.facebook}}"><span class="fa fa-facebook"></span></a>
                    {% endif %}
                    {% if configuration.instagram %}
                        <a href="{{configuration.instagram}}"><span class="fa fa-instagram"></span></a>
                    {% endif %}
                    {% if configuration.google_plus %}
                        <a href="{{configuration.google_plus}}"><span class="fa fa-google-plus"></span></a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="#" class="img-responsive"><img src="{% static 'images/logo-small.png' %}" alt="multiponto e acesso" title="Multiponto e Acesso"></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div><!--End Sticky Header-->
{% endblock menu %}

{% block main_content %}
    
    <!--Main Slider / Style One-->
    <section class="main-slider style-one">
        
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    {% if banners %}
                        {% for banner in banners %}
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{{ banner.image.url }}"  data-saveperformance="off">
                            <img src="{{ banner.image.url }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="-100"
                            data-speed="1500"
                            data-start="0"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><div class="big-title">{{ banner.title|safe }}</div></div>
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="10"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><div class="text">{{ banner.description|safe }}</div></div>
                            
                            <div class="tp-caption sfr sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="100"
                            data-speed="1500"
                            data-start="1000"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><a href="{% url 'contato' %}" class="theme-btn btn-style-two">Solicite um orçamento</a></div>
                            </li>           
                        {% endfor %}
                    {% endif %}              
                </ul>
                
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    
    
    <!--Why Choose Us / Style Two-->
    <section class="why-choose-us style-two">
        <div class="auto-container">
            <!--Centered Title-->
            <div class="centered-title">
                <h2>O QUE OFERECEMOS</h2>
                <div class="desc-text">Oferecemos produtos e serviços com a melhor qualidade e o maior padrão de atendimento. Tudo para garantir a sua satisfação.</div>
            </div>
            
            
            <div class="row clearfix">
                <!--Why Us Column-->
                <div class="why-us-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-clock"></span></div>
                        <div class="count"></div>
                        <h3>Controle de ponto</h3>
                        <div class="text">Relógios de ponto com o melhor custo benefício para você.</div>
                    </div>
                </div>
                
                <!--Why Us Column-->
                <div class="why-us-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-technician-with-helmet"></span></div>
                        <div class="count"></div>
                        <h3>Controle de acesso</h3>
                        <div class="text">Catracas e fechaduras biométricas com qualidade mundial e garantia extendida.</div>
                    </div>
                </div>
                
                <!--Why Us Column-->
                <div class="why-us-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-light-bulb"></span></div>
                        <div class="count"></div>
                        <h3>Softwares</h3>
                        <div class="text">Software para controle total dos seus equipamentos. Todas as informações geradas com agilidade e qualidade.</div>
                    </div>
                </div>
                
                <!--Why Us Column-->
                <div class="why-us-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-24-hours-support"></span></div>
                        <div class="count"></div>
                        <h3>Suporte Técnico</h3>
                        <div class="text">Suporte técnico especializado com a melhor equipe para te atender.</div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    
    <!--Shop Section-->
    <section class="shop-section">
        <div class="auto-container">
            <!--Centered Title-->
            <div class="centered-title">
                <h2>NOSSOS PRODUTOS</h2>
                <div class="desc-text">Temos as melhores soluções em controle de acesso, ponto e softwares. Com suporte especializado e focado em RESOLVER o seu problema. Confira abaixo os mais vendidos.</div>
            </div>
            
            <div class="row clearfix">
                {% for produto in produtos %}
                    <!--Shop Item-->
                    <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ produto.imagem.url }}" alt=""><div class="overlay-box"><a href="{% url 'detalhe_produto' produto.slug %}" class="theme-btn"> VER ESPECIFICAÇÕES</a></div></figure>
                            <div class="lower-content">
                                <h3><a href="{% url 'detalhe_produto' produto.slug %}">{{ produto.nome }}</a></h3>
                                <h5><i>{{ produto.categoria }}</i></h5>
                                <!-- <div class="price">R$ 845.00</div> -->
                                <!-- <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
{% endblock main_content %}