{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block menu %}       
    <!--Header-Lower-->
    <div class="header-lower">
        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li class="current"><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
                
                <!--Social Links-->
                 <div class="social-links">
                    {% if configuration.facebook %}
                        <a href="{{configuration.facebook}}"><span class="fa fa-facebook"></span></a>
                    {% endif %}
                    {% if configuration.instagram %}
                        <a href="{{configuration.instagram}}"><span class="fa fa-instagram"></span></a>
                    {% endif %}
                    {% if configuration.google_plus %}
                        <a href="{{configuration.google_plus}}"><span class="fa fa-google-plus"></span></a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="#" class="img-responsive"><img src="{% static 'images/logo-small.png' %}" alt="Multiponto e Acesso" title="Multiponto e Acesso"></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li class="current"><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div><!--End Sticky Header-->
{% endblock menu %}

{% block main_content %}
        <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/page-title-1.jpg' %});">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1>Produtos</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Produtos</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--Shop Section-->
    <section class="shop-section">
        <div class="auto-container">
            
            <!--Sort By-->
            <!-- <div class="items-sorting">
                <div class="row clearfix">
                    <div class="results-column col-md-6 col-sm-6 col-xs-12">
                        <h4> Showing 1–9 of 15 results</h4>
                    </div>
                    <div class="select-column pull-right col-md-3 col-sm-5 col-xs-12">
                        <div class="form-group">
                            <select name="sort-by">
                                <option>Default Sorting</option>
                                <option>By Order</option>
                                <option>By Price</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div> -->
                        
            <div class="row clearfix">
                {% for produto in produtos %}
                    <!--Shop Item-->
                    <div class="default-shop-item col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ produto.imagem.url }}" alt=""><div class="overlay-box"><a href="{% url 'detalhe_produto' produto.slug %}" class="theme-btn">VER ESPECIFICAÇÕES</a></div></figure>
                            <div class="lower-content">
                                <h3><a href="{% url 'detalhe_produto' produto.slug %}">{{ produto.nome }}</a></h3>
                                <h5><i>{{ produto.categoria }}</i></h5>
                                {% if produto.preco %}
                                    <h5>R$ {{ produto.preco|intcomma }}</h5>
                                {% endif %}
                                <!-- <div class="price">R$ 845.00</div> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}            
            </div>
                
            <!-- Styled Pagination -->
            <!-- <div class="styled-pagination padd-top-30 text-center">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#"><span class="fa fa-long-arrow-right"></span></a></li>
                </ul>
            </div> -->
                        
        </div>
    </section>
{% endblock main_content %}