{% extends "base.html" %}
{% load static %}


{% block menu %}       
    <!--Header-Lower-->
    <div class="header-lower">
        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            <li class="current"><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
                
                <!--Social Links-->
                 <div class="social-links">
                    {% if configuration.facebook %}
                        <a href="{{configuration.facebook}}"><span class="fa fa-facebook"></span></a>
                    {% endif %}
                    {% if configuration.instagram %}
                        <a href="{{configuration.instagram}}"><span class="fa fa-instagram"></span></a>
                    {% endif %}
                    {% if configuration.google_plus %}
                        <a href="{{configuration.google_plus}}"><span class="fa fa-google-plus"></span></a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="#" class="img-responsive"><img src="{% static 'images/logo-small.png' %}" alt="multiponto e acesso" title="Multiponto e Acesso"></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="current"><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li><a href="{% url 'produtos' %}">Produtos</a></li>
                            <!-- <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="#">Our Gallery</a></li>
                                    <li><a href="#">404 Page</a></li>
                                    <li><a href="#">Price Plans</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Our Shop</a></li>
                                    <li><a href="#">Shop Single</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">latest News</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div><!--End Sticky Header-->
{% endblock menu %}

{% block main_content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/page-title-1.jpg' %});">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1>Sobre</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Sobre</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--About Section-->
    <section class="about-section">
        <div class="auto-container">
            
            <!--Two Column-->
            <div class="two-column">
            
                <div class="row clearfix">
                    <!--Image Column-->
                    <div class="image-column column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image-box"><img src="{% static 'images/resource/featured-image-5.jpg' %}" alt=""></figure>
                            <div class="image-caption">Sobre</div>
                        </div>
                    </div>
                    
                    <!--Content Column-->
                    <div class="content-column column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="default-title"><h3>PORQUE ESCOLHER A MULTI PONTO E ACESSO</h3></div>
                            
                            <div class="text"> A MULTI Ponto e Acesso busca oferecer produtos de qualidade e soluções em softwares e suporte a seus clientes. Trabalhamos para oferecer as melhores soluções, bucando sempre a excelência em produtos e serviços.</div>
                            
                            <!--List Style One-->
                            <ul class="list-style-one">
                                <li>Equipamentos de ponta</li>
                                <li>Know-how e experiência</li>
                                <li>Equipe especializada</li>
                                <li>Preços justos</li>
                            </ul>
                            
                            <a href="services.html" class="theme-btn btn-style-two">VEJA NOSSOS PRODUTOS</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <!--Three Column Boxed-->
            <div class="three-column-boxed">
                <div class="row clearfix">
                    <!--Boxed COlumn-->
                    <div class="boxed-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-diamond-3"></span></div>
                            <h3>MISSÃO</h3>
                            <div class="text">Atender com excelência todos os clientes que precisarem dos nossos produtos e serviços com um preço competitivo e justo.</div>
                        </div>
                    </div>
                    
                    <!--Boxed COlumn-->
                    <div class="boxed-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-eye"></span></div>
                            <h3>VISÃO</h3>
                            <div class="text">Estar entre as maiores e melhores empresas de controle de ponto e acesso do mercado.</div>
                        </div>
                    </div>
                    
                    <!--Boxed COlumn-->
                    <div class="boxed-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-target-1"></span></div>
                            <h3>OBJETIVOS</h3>
                            <div class="text">Atender a todo território nacional com produtos e serviços de qualidade.</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
{% endblock main_content %}
